label {
  font-size: 18px;
}

.checkout-form-position {
  margin-left: 80px;
  margin-top: 100px;
}

.form-area {
  border: 1px solid black;
  border-radius: 20px;
  padding: 50px;
  width: 60%;
  margin-top: 40px;
}

.form-heading {
  font-weight: 550;
}
