<div class="checkout-form-position">
  <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
    <!--Customer Form Group-->
    <div formGroupName="customer" class="form-area">
      <h4 class="form-heading">Customer</h4> <hr/>

      <div class="row g-5 align-items-center">
        <div class="col-6">
          <label class="form-label mt-3">First Name</label>
          <input formControlName="firstName" class="form-control" type="text"/>

          <div *ngIf="customerFirstName.invalid && (customerFirstName.dirty || customerFirstName.touched)" class="alert alert-danger mt-2">
            <div *ngIf="customerFirstName.errors?.['required'] || customerFirstName.errors?.['notOnlyWhiteSpace']">
              First name is required
            </div>
            <div *ngIf="customerFirstName.errors?.['minlength']">
              First name must be at least 2 characters long
            </div>
          </div>
        </div>
        <div class="col-6">
          <label class="form-label mt-3">Last Name</label>
          <input formControlName="lastName" class="form-control" type="text"/>

          <div *ngIf="customerLastName.invalid && (customerLastName.dirty || customerLastName.touched)" class="alert alert-danger mt-2">
            <div *ngIf="customerLastName.errors?.['required'] || customerLastName.errors?.['notOnlyWhiteSpace']">
              Last name is required
            </div>
            <div *ngIf="customerLastName.errors?.['minlength']">
              Last name must be at least 2 characters long
            </div>
          </div>
        </div>
      </div>

      <label class="form-label mt-3">Email</label>
      <input formControlName="email" class="form-control" type="text"/>

      <div *ngIf="customerEmail.invalid && (customerEmail.dirty || customerEmail.touched)" class="alert alert-danger mt-2">
        <div *ngIf="customerEmail.errors?.['required']">
          Email is required
        </div>
        <div *ngIf="customerEmail.errors?.['pattern']">
          Email must be a valid email format
        </div>
      </div>
    </div>

    <!--Shipping Address Form Group-->
    <div formGroupName="shippingAddress" class="form-area">
      <h4 class="form-heading">Shipping Address</h4> <hr/>

      <label class="form-label mt-3">Country</label>
      <select
        formControlName="country"
        class="form-select"
        (change)="onPopulateStates('shippingAddress')">
        <option *ngFor="let country of countries" [ngValue]="country">
          {{ country.name }}
        </option>
      </select>

      <div *ngIf="shippingAddressCountry.invalid && (shippingAddressCountry.dirty || shippingAddressCountry.touched)" class="alert alert-danger mt-2">
        <div *ngIf="shippingAddressCountry.errors?.['required']">
          Country is required
        </div>
      </div>

      <label class="form-label mt-3">Street</label>
      <input formControlName="street" class="form-control" type="text"/>

      <div *ngIf="shippingAddressStreet.invalid && (shippingAddressStreet.dirty || shippingAddressStreet.touched)" class="alert alert-danger mt-2">
        <div *ngIf="shippingAddressStreet.errors?.['required'] || shippingAddressStreet.errors?.['notOnlyWhiteSpace']">
          Street is required
        </div>
        <div *ngIf="shippingAddressStreet.errors?.['minlength']">
          Street must be at least 2 characters long
        </div>
      </div>

      <div class="row g-5 align-items-center">
        <div class="col-4">
          <label class="form-label mt-3">City</label>
          <input formControlName="city" class="form-control" type="text"/>

          <div *ngIf="shippingAddressCity.invalid && (shippingAddressCity.dirty || shippingAddressCity.touched)" class="alert alert-danger mt-2">
            <div *ngIf="shippingAddressCity.errors?.['required'] || shippingAddressCity.errors?.['notOnlyWhiteSpace']">
              City is required
            </div>
            <div *ngIf="shippingAddressCity.errors?.['minlength']">
              City must be at least 2 characters long
            </div>
          </div>
        </div>

        <div class="col-4">
          <label class="form-label mt-3">State</label>
          <select formControlName="state" class="form-select">
            <option
              *ngFor="let state of shippingAddressStates"
              [ngValue]="state">
              {{ state.name }}
            </option>
          </select>

          <div *ngIf="shippingAddressState.invalid && (shippingAddressState.dirty || shippingAddressState.touched)" class="alert alert-danger mt-2">
            <div *ngIf="shippingAddressState.errors?.['required']">
              State is required
            </div>
          </div>
        </div>

        <div class="col-4">
          <label class="form-label mt-3">Zip Code</label>
          <input formControlName="zipCode" class="form-control" type="text"/>

          <div *ngIf="shippingAddressZipCode.invalid && (shippingAddressZipCode.dirty || shippingAddressZipCode.touched)" class="alert alert-danger mt-2">
            <div *ngIf="shippingAddressZipCode.errors?.['required'] || shippingAddressZipCode.errors?.['notOnlyWhiteSpace']">
              Zip code is required
            </div>
            <div *ngIf="shippingAddressZipCode.errors?.['minlength']">
              Zip code must be at least 2 characters long
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Billing Address Form Group-->
    <div formGroupName="billingAddress" class="form-area">
      <h4 class="form-heading">Billing Address</h4>

      <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)"/>

      <span> Same as shipping address</span> <hr/>

      <label class="form-label mt-3">Country</label>
      <select
        formControlName="country"
        class="form-select"
        (change)="onPopulateStates('billingAddress')">
        <option *ngFor="let country of countries" [ngValue]="country">
          {{ country.name }}
        </option>
      </select>

      <div *ngIf="billingAddressCountry.invalid && (billingAddressCountry.dirty || billingAddressCountry.touched)" class="alert alert-danger mt-2">
        <div *ngIf="billingAddressCountry.errors?.['required']">
          Country is required
        </div>
      </div>

      <label class="form-label mt-3">Street</label>
      <input formControlName="street" class="form-control" type="text" />

      <div *ngIf="billingAddressStreet.invalid && (billingAddressStreet.dirty || billingAddressStreet.touched)" class="alert alert-danger mt-2">
        <div *ngIf="billingAddressStreet.errors?.['required'] || billingAddressStreet.errors?.['notOnlyWhiteSpace']">
          Street is required
        </div>
        <div *ngIf="billingAddressStreet.errors?.['minlength']">
          Street must be at least 2 characters long
        </div>
      </div>

      <div class="row g-5 align-items-center">
        <div class="col-4">
          <label class="form-label mt-3">City</label>
          <input formControlName="city" class="form-control" type="text"/>

          <div *ngIf="billingAddressCity.invalid && (billingAddressCity.dirty || billingAddressCity.touched)" class="alert alert-danger mt-2">
            <div *ngIf="billingAddressCity.errors?.['required'] || billingAddressCity.errors?.['notOnlyWhiteSpace']">
              City is required
            </div>
            <div *ngIf="billingAddressCity.errors?.['minlength']">
              City must be at least 2 characters long
            </div>
          </div>
        </div>

        <div class="col-4">
          <label class="form-label mt-3">State</label>
          <select formControlName="state" class="form-select">
            <option
              *ngFor="let state of billingAddressStates"
              [ngValue]="state">
              {{ state.name }}
            </option>
          </select>

          <div *ngIf="billingAddressState.invalid && (billingAddressState.dirty || billingAddressState.touched)" class="alert alert-danger mt-2">
            <div *ngIf="billingAddressState.errors?.['required']">
              State is required
            </div>
          </div>
        </div>

        <div class="col-4">
          <label class="form-label mt-3">Zip Code</label>
          <input formControlName="zipCode" class="form-control" type="text"/>

          <div *ngIf="billingAddressZipCode.invalid && (billingAddressZipCode.dirty || billingAddressZipCode.touched)" class="alert alert-danger mt-2">
            <div *ngIf="billingAddressZipCode.errors?.['required'] || billingAddressZipCode.errors?.['notOnlyWhiteSpace']">
              Zip code is required
            </div>
            <div *ngIf="billingAddressZipCode.errors?.['minlength']">
              Zip code must be at least 2 characters long
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Credit Card Form Group-->
    <div formGroupName="creditCard" class="form-area">
      <h4 class="form-heading">Credit Card</h4> <hr/>

      <div class="row g-5 align-items-center">
        <div class="col-8">
          <label class="form-label mt-3">Card Number</label>
          <input
            formControlName="cardNumber"
            class="form-control"
            type="text"
            #cardNumber
            (input)="onValidCardNumber(cardNumber.value)"/>

            <div *ngIf="creditCardNumber.invalid && (creditCardNumber.dirty || creditCardNumber.touched)" class="alert alert-danger mt-2">
              <div *ngIf="creditCardNumber.errors?.['required']">
                Card number is required
              </div>
            </div>

            <div *ngIf="!validCardNumber && (creditCardNumber.dirty || creditCardNumber.touched)" class="alert alert-danger mt-2">
              Card number must be valid
            </div>
        </div>

        <div class="col-4">
          <label class="form-label mt-3">Card Type</label>
          <select formControlName="cardType" class="form-select">
            <option>Master Card</option>
            <option>Visa</option>
          </select>

          <div *ngIf="creditCardCardType.invalid && (creditCardCardType.dirty || creditCardCardType.touched)" class="alert alert-danger mt-2">
            <div *ngIf="creditCardCardType.errors?.['required']">
              Card type is required
            </div>
          </div>
        </div>
      </div>

      <div class="row g-5 align-items-center">
        <div class="col-8">
          <label class="form-label mt-3">Name</label>
          <input formControlName="nameOnCard" class="form-control" type="text"/>

            <div *ngIf="creditCardNameOnCard.invalid && (creditCardNameOnCard.dirty || creditCardNameOnCard.touched)" class="alert alert-danger mt-2">
              <div *ngIf="creditCardNameOnCard.errors?.['required'] || creditCardNameOnCard.errors?.['notOnlyWhiteSpace']">
                Name on card is required
              </div>
              <div *ngIf="creditCardNameOnCard.errors?.['minlength']">
                Name on card must be at least 2 characters long
              </div>
            </div>
        </div>

        <div class="col-4">
          <label class="form-label mt-3">Security Code</label>
          <input
            formControlName="securityCode" class="form-control" type="text"/>

            <div *ngIf="creditCardSecurityCode.invalid && (creditCardSecurityCode.dirty || creditCardSecurityCode.touched)" class="alert alert-danger mt-2">
              <div *ngIf="creditCardSecurityCode.errors?.['required']">
                Security code is required
              </div>
              <div *ngIf="creditCardSecurityCode.errors?.['pattern']">
                Security code must be 3 digits long
              </div>
            </div>
        </div>
      </div>

      <div class="row g-5 align-items-center">
        <div class="col-6">
          <label class="form-label mt-3">Expiration Month</label>
          <select formControlName="expirationMonth" class="form-select">
            <option *ngFor="let currentMonth of creditCardMonths">
              {{ currentMonth }}
            </option>
          </select>
        </div>

        <div class="col-6">
          <label class="form-label mt-3">Expiration Year</label>
          <select
            formControlName="expirationYear"
            class="form-select"
            (change)="onHandleMonthsAndYears()">
            <option *ngFor="let currentYear of creditCardYears">
              {{ currentYear }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-area mb-5">
      <h4 class="form-heading">Review Your Order</h4> <hr/>

      <p>Total Quantity: <strong>{{ totalQuantity }}</strong></p>
      <p>Total Price: <strong>{{ totalPrice | number: '1.0-2' | currency: 'USD'}}</strong></p>

      <!--Submit Button-->
      <button type="submit" class="btn btn-primary mt-3" [disabled]="!checkoutFormGroup.valid">
        Confirm Purchase
      </button>
    </div>
  </form>
</div>
