.sidebar-nav {
  margin-top: 65px;
  margin-left: -12px;
  width: 200px;
  overflow: hidden;
  position: fixed;
  height: 740px;
  overflow-x: hidden;
}

.sidebar-nav:hover {
  overflow: auto;
}

.active-link {
  font-weight: bold;
}

.main-content {
  margin-left: 14%;
  overflow-x: hidden;
}

.nav-link:hover {
  font-weight: bold;
}

.nav-link {
  transition: all 0.3s
}

.link:hover {
  font-weight: bold;
}

.link {
  transition: all 0.3s
}

i, a {
  color: black;
  text-decoration: none;
}

span {
  color: black;
}

hr {
  height: 0.5px;
  width: 200px;
  margin-left: -30px;
}

.footer-section {
  font-size: 13px;
   margin-top: 310px;
}

.collapsing {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  transition: height 0.2s ease;
}
