.sidebar-nav {
  margin-top: 65px;
  width: 200px;
  overflow: hidden;
  position: fixed;
  height: 740px;
}

.sidebar-nav:hover {
  overflow: auto;
}

.active-link {
  font-weight: bold;
}

.main-content {
  margin-left: 14%;
}

.nav-link:hover {
  font-weight: bold;
}

.nav-link {
  transition: all 0.3s
}

.link:hover {
  font-weight: bold;
}

.link {
  transition: all 0.3s
}

i, a {
  color: black;
}

span {
  color: black;
}

hr {
  height: 0.5px;
  width: 200px;
  margin-left: -30px;
}
