a, i, span {
  color: black;
  text-decoration: none;
}

hr {
  height: 0.5px;
  width: 200px;
  margin-left: -30px;
}

.active-link {
  color: black;
  font-weight: bold;
  background-color: rgb(188, 207, 243);
  box-shadow: none;
}

.bi-basket-fill, .bi-person-rolodex, .bi-calendar4 {
  font-size: 20px;
}

.collapsing {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  transition: height 0.2s ease;
}

.list-title {
  font-weight: bold;
  font-size: 14px;
}

.main-content {
  margin-left: 250px;
  overflow-x: hidden;
}

/* Sidebar */
.sidebar-nav {
  margin-top: 65px;
  margin-left: -12px;
  width: 200px;
  overflow: hidden;
  position: fixed;
  height: 91.5%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  scrollbar-width: thin;
  z-index: 100;
}

.sidebar-nav:hover {
  overflow: auto;
}

/* Sidebar content */
.sidebar-content {
  height: 100vh;
  margin: 0;
}

.list-group {
  min-height: 50px;
}

.footer-section {
  min-height: 50px;
  font-size: 12px;
  margin-left: 12px;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
}

.footer-section {
  margin-top: auto;
}
