img, h6, .cursor-pointer {
  cursor: pointer;
}

p {
  font-size: 14px;
  margin-top: -5px;
}

.add-button {
  margin-top: -10px;
  width: 125px;
}

.bi-caret-down-fill {
  font-size: 12px
}

.bi-exclamation-triangle-fill {
  font-size: 20px
}

.btn-close {
  margin-top: 5px;
}

.order-item-image {
  width: 150px;
}

.orders-content {
  margin-top: 30px;
  margin-left: 100px;
  margin-bottom: 30px;
  width: 83%;
}

.orders-title {
  margin-top: 85px;
  margin-bottom: 30px;
  margin-left: 100px;
}

.result-message {
  margin-top: 100px;
  margin-bottom: -50px;
  width: 97.5%;
}
