<div *ngIf="orderHistoryList.length === 0" class="alert alert-warning alert-dismissible fade show result-message">
  <i class="bi bi-exclamation-triangle-fill"></i> &nbsp;
  <strong>No orders found</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="orders-title" *ngIf="orderHistoryList.length !== 0">
  <h3>Your Orders</h3>
</div>

<div class="card w-75 orders-content" *ngFor="let orderHistoryItem of orderHistoryList">
  <div class="card-header d-flex flex-row">
    Order Placed: <br />
    {{ orderHistoryItem.dateCreated | date: "medium" }}

    <div class="ms-5">
      Total Price: <br />
      {{ orderHistoryItem.totalPrice | currency: "USD" }}
    </div>

    <ng-template #customerInfo>
      <strong>
        {{ orderHistoryItem.customer.firstName }}
        {{ orderHistoryItem.customer.lastName }}
      </strong>
      <br />
      {{ orderHistoryItem.shippingAddress.street }}
      <br />
      {{ orderHistoryItem.shippingAddress.city }},
      {{ orderHistoryItem.shippingAddress.state }}
      {{ orderHistoryItem.shippingAddress.zipCode }}
      <br />
      {{ orderHistoryItem.shippingAddress.country }}
    </ng-template>

    <div class="ms-5">
      Ship To: <br />
      <strong class="cursor-pointer" placement="bottom" [ngbPopover]="customerInfo" popoverTitle="Shipping Address"
        [openDelay]="100" [closeDelay]="300" triggers="mouseenter:mouseleave">
        {{ orderHistoryItem.customer.firstName }}
        {{ orderHistoryItem.customer.lastName }}
        <i class="bi bi-caret-down-fill"></i>
      </strong>
    </div>

    <div class="ms-auto">
      Order Number: <br />
      {{ orderHistoryItem.orderTrackingNumber }}
    </div>
  </div>

  <ul class="list-group list-group-flush" *ngFor="let orderItem of orderHistoryItem.orderItems">
    <li class="list-group-item">
      <div class="d-flex flex-row">
        <img src="{{ orderItem.imageUrl }}" class="order-item-image" routerLink="/products/{{ orderItem.productId }}"/>
        <div class="d-flex flex-column ms-3">
          <h6 class="mt-3 cursor-pointer" routerLink="/products/{{ orderItem.productId }}">
            {{ orderItem.name }}
          </h6>
          <p>Quantity: {{ orderItem.quantity }}</p>
          <button type="button" class="btn btn-outline-primary add-button" (click)="onAddProductToShoppingCart(orderItem.productId)">Add to cart</button>
        </div>
      </div>
    </li>
  </ul>
</div>

<div class="notificaiton position-fixed bottom-0 end-0 p-3">
  <ngb-toast
	*ngIf="show"
  [ngClass]="{'bg-light' : show}"
	header="Order Tracking Number"
	[delay]="5000"
  >
    <ng-template ngbToastHeader>
      <div class="me-auto">
        <i class="bi bi-box-seam-fill"></i>
        <strong class="mx-1">You order has been placed</strong>
      </div>
    </ng-template>
    <!-- Add a copy button and logic to copy the order tracking number to the copyboard of the user -->
    <div class="row align-items-center justify-content-between">
      <div class="col-10" id="trackingNum">
        <strong>Order Tracking Number:</strong> <br/>
        {{ orderTrackingNumber }}
      </div>
      <div class="col-2 d-flex justify-content-end">
          <i class="bi bi-clipboard-data-fill cursor-pointer justify-content-end" (click)="copyContent()"></i>
      </div>
    </div>
  </ngb-toast>
</div>
