<div *ngIf="searchMode && products.length > 0" class="alert alert-primary alert-width mt-4">
  {{products.length}} results for <strong>"{{currentKeyword}}"</strong>
</div>

<div *ngIf="products?.length == 0" class="alert alert-warning alert-width mt-4">
  <strong>No products found</strong>
</div>

<h3 class="mt-4">{{currentCategoryName}}</h3>
<div class="row">
  <div *ngFor="let product of products" class="col-md-3 mt-3">
    <a routerLink="/products/{{product.id}}">
      <img src="{{product.imageUrl}}" class="img-fluid border image-background">
    </a>

    <h2 class="mt-2">{{product.name | shorten: 33}}</h2>

    <a routerLink="/products/{{product.id}}">
      <p>{{product.unitPrice | currency: 'USD'}}</p>
    </a>
    <a href="#" class="btn btn-primary">Add</a>
  </div>
</div>

<div class="d-flex justify-content-center mt-4">
  <!--Pagination-->
  <ngb-pagination
    [collectionSize]="totalElements"
    [(page)]="currentPageNumber"
    [pageSize]="currentPageSize"
    [ellipses]="true"
    [maxSize]="3"
    (pageChange)="listProducts()">
  </ngb-pagination>
</div>
