h2 {
  font-size: 18px;
  font-weight: 500;
  width: 80%;
}

h3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

p {
  font-size: 20px;
  font-weight: 600;
}

.image-background {
  width: 90%;
  background-color: rgb(241, 238, 238);
}

.alert-width {
  width: 97.5%;
}

.product-detail-margins {
  margin-bottom: 40px;
}

a {
  text-decoration: none;
}
