<div *ngIf="searchMode && products.length > 0" class="alert alert-primary alert-width mt-4">
  {{totalElements}} results for <strong>"{{currentKeyword}}"</strong>
</div>

<div *ngIf="products?.length == 0" class="alert alert-warning alert-width mt-4">
  <strong>No products found</strong>
</div>

<h3>{{currentCategoryName}}</h3>
<div class="row">
  <div *ngFor="let product of products" class="col-md-3 product-detail-margins">
    <a routerLink="/products/{{product.id}}">
      <img src="{{product.imageUrl}}" class="img-fluid border image-background">
    </a>

    <h2 class="mt-2">{{product.name | shorten: 33}}</h2>

    <a routerLink="/products/{{product.id}}">
      <p>{{product.unitPrice | currency: 'USD'}}</p>
    </a>
    <a class="btn btn-primary" (click)="onAddProductToShoppingCart(product)">Add</a>
  </div>
</div>

<div class="row justify-content-end" *ngIf="products?.length != 0">
    <!--Pagination-->
    <div class="col-6">
      <ngb-pagination
        [collectionSize]="totalElements"
        [(page)]="currentPageNumber"
        [pageSize]="currentPageSize"
        [maxSize]="5"
        [boundaryLinks]="true"
        (pageChange)="listProducts()">
      </ngb-pagination>
    </div>

    <div class="col-sm-1 me-4">
      <select class="form-select" (change)="updatePageSize($event)" style="height: 35px;">
        <option selected="true">10</option>
        <option>20</option>
        <option>50</option>
      </select>
    </div>
</div>
