a {
  text-decoration: none;
}

h2 {
  font-size: 18px;
  font-weight: 500;
  width: 80%;
}

h3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

option, select {
  font-size: 13px;
}

p {
  font-size: 16px;
  font-weight: 600;
}

.alert-width {
  width: 96.8%;
}

.bi-exclamation-triangle-fill {
  font-size: 20px;
}

.btn-close {
  margin-top: 5px;
}

.category-name {
  margin-top: 100px;
}

.cursor-pointer {
  cursor: pointer;
}

.image-background {
  width: 75%;
}

.pagination-controls {
  margin-bottom: 25px;
}

.page-size-select {
  margin-right: 50px;
}

.product-detail-margins {
  margin-bottom: 25px;
  margin-right: -80px;
  width: 388px;
}

.result-message {
  margin-top: 100px;
  margin-bottom: -50px;
}

.search-results {
  margin-top: 90px;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  width: 96.8%;
}
