<div *ngIf="shoppingCartItems.length === 0" class="alert alert-warning alert-dismissible fade show empty-cart-warning">
  <i class="bi bi-exclamation-triangle-fill"></i> &nbsp;
  <strong>Your shopping cart is empty</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div *ngIf="!validShoppingCart && shoppingCartItems.length !== 0" class="alert alert-warning alert-dismissible fade show limited-stock-warning">
  <i class="bi bi-exclamation-triangle-fill"></i> &nbsp;
  <strong>One or more items in your shopping cart exceeds the limited stock of item</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div *ngIf="shoppingCartItems.length > 0">
    <table class="table table-bordered">
      <thead>
        <tr>
          <td colspan="2" class="shopping-cart-heading"><strong>Shopping Cart</strong></td>
          <td class="price-table-heading"><strong>Price</strong></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let shoppingCartItem of shoppingCartItems">
          <td class="table-image-data-width">
            <img src="{{shoppingCartItem.imageUrl}}" class="cursor-pointer" routerLink="/products/{{shoppingCartItem.id}}" width="200">
          </td>
          <td>
            <h5 class="cursor-pointer mt-3" routerLink="/products/{{shoppingCartItem.id}}">{{shoppingCartItem.name}}</h5>
            <div *ngIf="shoppingCartItem.product.unitsInStock > 0; else outOfStock">
              <p class="in-stock stock-text">In Stock</p>
            </div>
            <ng-template #outOfStock>
              <p class="out-of-stock stock-text">Out of Stock</p>
            </ng-template>
            <p class="unit-price-margin"><strong>{{shoppingCartItem.unitPrice | currency: 'USD'}}</strong></p>
            <a class="remove-link cursor-pointer" (click)="removeItemFromShoppingCart(shoppingCartItem)">Remove</a>
          </td>
          <td class="detail-price-align">
            <div class="d-flex justify-content-end mt-4">
              <i class="bi bi-plus-square-fill cursor-pointer" (click)="onIncrementItemQuantity(shoppingCartItem)"></i>
              <p class="item-quantity-margin">Quantity: {{shoppingCartItem.quantity}}</p>
              <i class="bi bi-dash-square-fill cursor-pointer" (click)="onDecrementItemQuantity(shoppingCartItem)"></i>
            </div>

            <p class="subtotal-margin">
              Subtotal: <strong>{{shoppingCartItem.quantity * shoppingCartItem.unitPrice | currency: 'USD'}}</strong>
            </p>
          </td>
        </tr>

        <tr>
          <td colspan="3" class="detail-price-align">
            <p>Total Quantity: {{totalQuantity}}</p>
            <p class="total-price-margin"><strong>Price: {{totalPrice | currency: 'USD'}}</strong></p>
            <button type="button" class="btn btn-outline-primary" [disabled]="!validShoppingCart" (click)="onNavigateToCheckout()">
              Checkout
            </button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
