<div *ngIf="shoppingCartItems.length === 0" class="alert alert-warning alert-dismissible fade show alert-width warning-message">
  <i class="bi bi-exclamation-triangle-fill" style="font-size: 20px;"></i> &nbsp;
    <strong>Your shopping cart is empty</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="margin-top: 5px;"></button>
  </div>

<div *ngIf="shoppingCartItems.length > 0">
    <table class="table table-bordered mt-5">
      <thead>
        <tr>
          <td colspan="2" class="shopping-cart-heading"><strong style="font-size: 18px;">Shopping Cart</strong></td>
          <td class="price-table-heading">Price</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let shoppingCartItem of shoppingCartItems">
          <td style="width: 20%;">
            <img src="{{shoppingCartItem.imageUrl}}" class="img-fluid cursor-pointer" routerLink="/products/{{shoppingCartItem.id}}">
          </td>
          <td>
            <p class="cursor-pointer" routerLink="/products/{{shoppingCartItem.id}}">{{shoppingCartItem.name}}</p>
            <p><strong>{{shoppingCartItem.unitPrice | currency: 'USD'}}</strong></p>
            <a class="remove-link cursor-pointer" (click)="removeItemFromShoppingCart(shoppingCartItem)">Remove</a>
          </td>
          <td style="text-align: end;">
            <div class="d-flex justify-content-end">
              <i class="bi bi-plus-square-fill" (click)="onIncrementItemQuantity(shoppingCartItem)"></i>
              <p style="margin-left: 10px; margin-right: 10px;">Quantity: {{shoppingCartItem.quantity}}</p>
              <i class="bi bi-dash-square-fill" (click)="onDecrementItemQuantity(shoppingCartItem)"></i>
            </div>

            <p>Subtotal: <strong>{{shoppingCartItem.quantity * shoppingCartItem.unitPrice | number: '1.0-2' | currency: 'USD'}}</strong></p>
          </td>
        </tr>

      <tr>
        <td colspan="3" style="text-align: end;">
          <p>Total Quantity: {{totalQuantity}}</p>
          <p><strong>Price: {{totalPrice | number: '1.0-2' | currency: 'USD'}}</strong></p>
          <a routerLink="/checkout" class="btn btn-outline-primary">Checkout</a>
        </td>
      </tr>
      </tbody>

    </table>
</div>
