table {
  width: 80%;
  margin: 100px 0 40px 8%;
}

.bi-exclamation-triangle-fill {
  font-size: 20px;
}

.btn-close {
  margin-top: 5px;
}

.detail-price-align {
  text-align: end;
}

.empty-cart-warning {
  margin-top: 100px;
  width: 97.5%;
}

.in-stock {
  color: rgb(55, 95, 64);
}

.item-quantity-margin {
  margin: 0 10px;
}

.limited-stock-warning {
  margin: 100px 0 -70px 8%;
  width: 80%;
}

.out-of-stock {
  color: maroon;
}

.price-table-heading {
  width: 20%;
  text-align: end;
  border-left-style: none;
}

.remove-link {
  font-weight: 550;
  color:rgb(26, 27, 29);
  text-decoration: none;
}

.shopping-cart-heading {
  border-right-style: none;
  font-size: 18px;
}

.stock-text {
  margin: -7px 0 10px;
  font-weight: 550;
}

.subtotal-margin {
  margin-top: 10px;
}

.table-image-data-width {
  width: 20%;
}

.total-price-margin {
  margin-top: -15px;
}

.unit-price-margin {
  margin: -10px 0 0;
}
