.shopping-cart-heading {
  border-right-style: none;
}

.price-table-heading {
  width: 20%;
  text-align: end;
  border-left-style: none;
}

table {
  width: 80%;
  margin-top: 100px;
  margin-left: 8%;
  margin-bottom: 40px;
}

.remove-link {
  font-weight: 550;
  color:rgb(26, 27, 29);
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}

.empty-cart-warning {
  margin-top: 100px;
  width: 97.5%;
}

.limited-stock-warning {
  margin-top: 100px;
  margin-bottom: -70px;
  margin-left: 8%;
  width: 80%;
}

.in-stock {
  margin-top: -7px;
  margin-bottom: 10px;
  color: rgb(55, 95, 64);
  font-weight: 550;
}

.out-of-stock {
  margin-top: -7px;
  margin-bottom: 10px;
  color: maroon;
  font-weight: 550;
}
