<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
  <div class="container-fluid">
      <button class="btn me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand" routerLinkActive="active" routerLink="/recipes" style="cursor: pointer;">Ecommerce</a>

      <div class="collapse navbar-collapse">
          <div class="input-group me-auto ms-auto">
            <input
              type="text"
              class="form-control"
              placeholder="Search for products"
              #searchInput
              (keyup.enter)="onSearchProducts(searchInput.value)"
              style="outline-color: transparent; outline-style: none;">

            <button
              class="btn btn-outline-dark"
              (click)="onSearchProducts(searchInput.value)">
              <i class="bi bi-search"></i>
            </button>
          </div>

          <button class="btn me-4" type="button">
            Login
          </button>

          <div class="position-relative">
            <span class="position-absolute translate-middle ms-3 mt-1">
              {{totalQuantity}}
            </span>
            <a routerLink="/shopping-cart"><i class="bi bi-cart me-3" style="font-size: 30px;" href="#"></i></a>
          </div>
      </div>
  </div>
</nav>

<div class="collapse navbar-collapse" id="navbarToggleExternalContent">
  <div class="bg-light p-4">
    <h5 class="text-black h4">Collapsed content</h5>
    <span class="text-muted">Toggleable via the navbar brand --></span>
    <a href="https://github.com/TonyHC/Ecommerce" class="text-decoration-none"> Project</a>
  </div>
</div>
