a {
  color: black;
}

::ng-deep .dropdown-menu {
  width: 100%;
}

.bi-cart {
  font-size: 30px;
}

.bi-person-badge-fill {
  font-size: 24px;
}

.input-group {
  width: 50%;
}

.input-group:target, .search-bar {
  border: 1px solid black;
}

.navbar {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.nav-link:hover {
  font-weight: bold;
}

.nav-link:active {
  background-color: rgb(188, 207, 243);
}

.nav-link {
  transition: all 0.3s
}

.nav-logo {
  width: 125px;
  margin-left: 10px;
}

.nav-logo-outline {
  width: 150px;
}

.nav-logo-outline:hover{
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}

.login-position, .logout-position {
  margin-top: 6px;
  margin-left: 3px;
}
