.nav-link:hover {
  font-weight: bold;
}

.nav-link {
  transition: all 0.3s
}

.link:hover {
  font-weight: bold;
}

.link {
  transition: all 0.3s
}

a {
  color: black;
}

a:hover {
  font-weight: 600;
}

.input-group {
  width: 60%;
}

.input-group:target {
  border: 1px solid black;
}

.active-link {
  font-weight: bold;
}

.logo {
  width: 125px;
  cursor: pointer;
  margin-left: 10px;
}

.box {
  width: 150px;
}

.box:hover{
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}

.login-position {
  margin-top: 6px;
  margin-left: 3px;
}

.logout-position {
  margin-top: 6px;
  margin-left: 3px;
}

::ng-deep .dropdown-menu {
  width: 100%;
}
