.nav-link:hover {
  font-weight: bold;
}

.nav-link {
  transition: all 0.3s
}

.link:hover {
  font-weight: bold;
}

.link {
  transition: all 0.3s
}

a {
  color: black;
}

.input-group {
  width: 60%;
}

.input-group:target {
  border: 1px solid black;
}

.active-link {
  font-weight: bold;
}
