<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
  <div class="container-fluid">
      <i routerLink="/products" class="bi bi-explicit-fill me-3 ms-3 home-icon"></i>

      <a class="navbar-brand" routerLinkActive="active" routerLink="/recipes" style="cursor: pointer;">Ecommerce</a>

      <div class="collapse navbar-collapse">
          <div class="input-group me-auto ms-auto">
            <input
              type="text"
              class="form-control"
              placeholder="Search for products"
              #searchInput
              (keyup.enter)="onSearchProducts(searchInput.value)"
              style="border: 1px solid black;">

            <button
              class="btn btn-outline-dark" placement="bottom" ngbTooltip="Search"
              (click)="onSearchProducts(searchInput.value)">
              <i class="bi bi-search"></i>
            </button>
          </div>

          <button class="btn me-4" type="button" placement="bottom" ngbTooltip="Login">
            <div class="d-flex flex-row">
              <i class="bi bi-box-arrow-in-right" style="font-size: 24px;"></i>
              <div class="login-position">
                Login
              </div>
            </div>
          </button>

          <div class="position-relative">
            <span class="position-absolute translate-middle ms-3 mt-1">
              {{totalQuantity}}
            </span>
            <a routerLink="/shopping-cart"><i class="bi bi-cart me-3" style="font-size: 30px;" href="#"></i></a>
          </div>
      </div>
  </div>
</nav>
